[Unit]
Description=Rendertron cache populator
After=rendertron.service

[Service]
Type=oneshot
ExecStart=/home/bt/venv/bin/python /home/bt/rendertron/prerendertron.py
