[Unit]
Description=Rendertron cache populator
After=rendertron.service

[Service]
Type=simple
ExecStart=%h/rendertron/venv/bin/python %h/rendertron/prerendertron.py
