[Unit]
Description=Rendertron dynamic renderer
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node %h/rendertron/bin/rendertron
CPUSchedulingPolicy=idle
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
